############################
# Python
############################

# Virtual Environments
venv/
tsvenv/
backend/venv/
backend/tsvenv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
staticfiles/

############################
# Node / React
############################

# Dependencies
node_modules/
frontend/node_modules/

# Build folders
build/
dist/
frontend/build/
frontend/dist/

############################
# Environment Variables
############################

.env
backend/.env
frontend/.env

############################
# Logs
############################

*.log

############################
# Docker
############################

postgres_data/
*.pid

############################
# OS Files
############################

.DS_Store
Thumbs.db

############################
# IDE
############################

.vscode/
.idea/
